pyrogram==1.4.16
tgcrypto==1.2.2

pyromod==1.5
ffmpeg
mediainfo
cloudscraper
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp
aiofiles
yt-dlp==2021.7.24
pycryptodome==3.10.1
PySocks==1.7.1
websockets==9.1
psutil
async-lru==1.0.2
helper
pyaes==1.6.1
soupsieve==2.2.1
py-tgcalls==0.6.0
Brotli==1.0.9

certifi==2022.12.7

charset-normalizer==3.1.0

cloudscraper==1.2.18

idna==3.4



pyparsing==3.0.9



python-dotenv==1.0.0

requests==2.31.0

requests-toolbelt==0.10.1



urllib3==1.26.15

jinja2==3.0.3
